%h1 APP
.header_div
  #random_image
    - @photos.each do |photo|
      .image_info
        = link_to "/albums/#{photo.id}/photos/#{photo.album.id}" do
          = image_tag photo.image
          %p= photo.location
          %p= photo.description