%p#notice= notice

%h1= @user.name
%p
  %b Date of Birth:
  = @user.dob
%p
  = image_tag @user.profile_image.medium.url
%p
  %b Albums:
  - @albums.each do |album|
    - if album.user_id == @user.id
      %li= link_to album.name, album


/ Might be userful at a later time
/ %p 
/   = link_to image_tag(@user.profile_image.thumb.url), @user.profile_image.detail.url




/ %p
/   %b Content:
/   = @comment.content
/ %p
/   %b Photo:
/   = @comment.photo_id
/ %p
/   %b User:
/   = @comment.user_id

/ = link_to 'Edit', edit_comment_path(@comment)
/ \|
/ = link_to 'Back', comments_path
