%p#notice= notice

.index
  %h1= @user.name
  %p
    %b Date of Birth:
    = @user.dob
  %p
    = image_tag @user.profile_image.medium.url if @user.profile_image.present?
  %p
    %b Albums:
    - @albums.each do |album|
      - if album.user_id == @user.id
        %li= link_to album.name, album
     
    = link_to 'New Album', new_album_path if can? :edit, @user
    = link_to 'Edit Profile', edit_user_registration_path  if can? :edit, @user
    / can only edit the current user who is logged in
    = link_to 'Back', users_path
