/ %p#notice= notice

#album_text
  %ul
    %li=@album.name    
    %li=@album.description

#random_image
  - @photos.each do |photo|
    .image_info
      = link_to (image_tag photo.image), album_photo_path(@album, photo)
      %p= photo.location
      %p= photo.description

#album_text
  = link_to 'Upload Photos', new_album_photo_path(@album)
  \|
  = link_to 'Edit', edit_album_path(@album)
  \|
  = link_to 'Back', albums_path

= paginate @album