/ %p#notice= notice

%p
  %b User:
  = @album.user_id
%p
  %b Name:
  = @album.name
%p
  %b Description:
  = @album.description
%p
%b
  Photos:

  #album_display
    - @photos.each do |photo|
      / - if photo.album_id == @album.id
      #album_photos
        = link_to image_tag(photo.image), photo.image.detail.url
        / = age_tag photo.image

= link_to 'Upload Photos', new_album_photo_path(@album)
\|
= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
