%p#notice= notice

%p
  %b Name:
  = @tag.name

%p
  %b Photo(s): (does work just no images to display)
  - @tag.photos.each do |photo_tag|
    / = link_to (image_tag photo_tag.image), album_photo_path(@album, photo_tag)
    = image_tag photo_tag.image


= link_to 'Edit', edit_tag_path(@tag)
\|
= link_to 'Back', tags_path
