
#edit_image
  .edit_image_info
    = form_for [@album, @photo] do |f|
      - if @photo.errors.any?
        #error_explanation
          %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
          %ul
            - @photo.errors.full_messages.each do |msg|
              %li= msg
      = image_tag @photo.image
      .field
        = f.label :description
        = f.text_field :description
      .field
        = f.label :location
        = f.text_field :location
      .field
        = f.label :tags
        %input{name: "photo[tags][]"}
      .actions
        = f.submit 'Save'