%h1 New photo

<%= form_for [@album], :remote => true do |f| %>

Upload Photos: 
    <input id="fileupload" type="file" name="photo[image]" multiple>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
    <script src="/jquery-file-upload/jquery.iframe-transport.js"></script>
    <script src="/jquery-file-upload/jquery.fileupload.js"></script>
    <script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            url: '<%= album_photos_path(@album.id) %>',
            done: function (e, data) {
                $.each(data.result, function (index, file) { 
                   $('<li><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
                });
            }
        });
    });
    </script>
    </br>
    <%= f.submit 'submit' %>

    <%= link_to 'Back', albums_path %> |
    <%= link_to 'Photos Viewer', album_photos_path(@album) %>
    </br>
  
    <ul id="thumbs" class="cf">
  <!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
    </ul>


<% end %>


