/ http://wdi-7-photo-app.herokuapp.com/


!!!
%html
  %head
    %title Photoapp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:type=>"text/javascript"}
      $(function(){
      users = #{raw User.all.map{|user| user.name}.to_json};
      albums = #{raw Album.all.map{|album| album.name}.to_json};
      tags = #{raw Tag.all.map{|tag| tag.name}.to_json};
      photos = #{raw Photo.all.map{|photo| photo.location}.to_json};
      window.all = users.concat(tags).concat(albums).concat(photos);
      /console.log(window.all);
      $( "#autocomplete" ).autocomplete({
      source: window.all,
      / select: function( event, ui ){
      / autocomplete.autocompleteAjax(ui)
      / }
      })
      })
      

  %body
    %p.notice= notice
    %p.alert= alert
   
  %header
    %hr
    %nav
      %ul
        %li
          Browse
          %ul
            %li
              %a{:href => "users"} Users
            %li
              %a{:href => "albums"} Albums
            %li
              %a{:href => "photos"} Photos
            %li
              %a{:href => "tags"} Tags
        %li
          = link_to "My profile", users_path
        %li
          = link_to "New album", new_album_path
        %li
          %a{:href => "/"}
            %h1 PhotoApp
        %li
          = search_form_for @q do |f|
            = f.text_field :name_or_user_name_or_user_username_cont, placeholder: "search"
            = f.submit
        %li
          = link_to "Manage site", users_path
        %li
          %label{:for => "autocomplete"} search:
          %input#autocomplete/
        %li
          - if user_signed_in?
            = current_user.email
            = link_to "View current profile", "/users/#{current_user.id}"
            = link_to "Edit profile", edit_user_registration_path
            = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign up", new_user_registration_path
            = link_to "Login", new_user_session_path
    %hr

  = yield
