/ http://wdi-7-photo-app.herokuapp.com/


!!!
%html
  %head
    %title Photoapp
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:type=>"text/javascript"}
      $(function(){
      users = #{raw User.all.map{|user| user.name}.to_json};
      albums = #{raw Album.all.map{|album| album.name}.to_json};
      window.all = users.concat(albums);
      $( "#autocomplete" ).autocomplete({
      source: window.all,
      })
      })
    / ###################### code for google maps ################################
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    :css
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ1zg7XkoaEyge8Py3jbn9fgTZvq5_QIU", :type => "text/javascript"}
    :javascript
      var map;
      var myLatlng = new google.maps.LatLng(#{@photo.any?.latitude.any? && current_user}, {@photo.longitude.any? && current_user});

      function initialize() {
        var mapOptions = {
          center: myLatlng,
          zoom: 10
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Hello World!"
        });
      }
  
      google.maps.event.addDomListener(window, 'load', initialize);

  %body 
    %header
      %nav
        %ul.nav
          %li
            %a{:href => "/index"}
              %h1 PhotoApp
          %li
            Browse
            %ul
              %li
                %a{:href => "users"} Users
              %li
                %a{:href => "albums"} Albums
              %li
                %a{:href => "photos"} Photos
              %li
                %a{:href => "tags"} Tags
          %li
            = link_to "My profile", users_path
          %li
            = link_to "New album", new_album_path
          %li.search
            = search_form_for @q do |f|
              = f.text_field :name_or_user_name_or_user_username_cont, placeholder: "search", id: "autocomplete"
              = f.submit
          %li
            = link_to "Manage site", users_path
          %li
            - if user_signed_in?
              = current_user.email
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                = link_to "Login", new_user_session_path
    %p
      = social_share_button_tag("Photo app!", :url => "http://wdi-7-photo-app.herokuapp.com/")
    %hr
    %p.notice= notice
    %p.alert= alert

    = yield


