!!!
%html
  %head
    %title Photoapp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
   
  %section.nav_bar   
    %br/
    = link_to "Users", user_path
    %br/
    = link_to "Albums", albums_path
    %br/
    = link_to "Photos", photos_path
    %br/
    = link_to "Tags", tags_path
    %br/
    = link_to "Home", albums_path 
    /to be changed at a later time to route to login page
    %br/

    - if user_signed_in?
      = current_user.email
      %br/
      = link_to "View current profile", "/users/#{current_user.id}"
      %br/
      = link_to "Edit profile", edit_user_registration_path
      %br/
      = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign up", new_user_registration_path
      %br/
      = link_to "Login", new_user_session_path

  = yield
