/ http://wdi-7-photo-app.herokuapp.com/


!!!
%html
  %head
    %title Photoapp
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p.notice= notice
    %p.alert= alert
   
  %header
    %hr
    %nav
      %ul.nav
        %li
          %a{:href => "/"}
            %h1 PhotoApp
        %li
          Browse
          %ul
            %li
              %a{:href => "users"} Users
            %li
              %a{:href => "albums"} Albums
            %li
              %a{:href => "photos"} Photos
            %li
              %a{:href => "tags"} Tags
        %li
          = link_to "My profile", users_path
        %li
          = link_to "New album", new_album_path
        %li
          = link_to "Manage site", users_path

        %li
          = search_form_for @q do |f|
            = f.text_field :name_or_user_name_or_user_username_cont, placeholder: "album, user, username"
            = f.submit
        %li
          - if user_signed_in?
            = current_user.email
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Sign up", new_user_registration_path
            %li
              = link_to "Login", new_user_session_path
    %hr

  = yield
